<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <h2>{{>header}}</h2>
    <h1>Welcome to check weather page &hearts;</h1>
    <h2>Today's weather is :</h2>
    <p>The Country is : {{country}} </p>
    <p>The Latitude is : {{ latitude }} </p>
    <p>The Longitude is : {{longitude}} </p>
    <P>Today's Current Weather is : {{weather}} </P>
    <p>Today's Temperature is : {{temp}} </p>
    
  <script src="js/script.js"></script>
</body>
</html>